.notification {
  position: fixed;
  top: var(--nav-only-height);
  right: 20px;
  z-index: 1000;
}

.list {
  max-height: calc(100vh - var(--nav-only-height) - var(--head-option-height));
  padding: 0 32px;
  width: 320px;
  box-sizing: content-box;
  transform: translateX(32px);
}

.header {
  padding: 4px 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 17.3%,
    #ffffff 17.3%,
    #ffffff 100%
  );
}

.item {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 10%,
      #ffffff 50%,
      #ffffff 100%
    );
    pointer-events: none;
  }
}

.item-box {
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.2);
  width: 320px;

  &:last-child {
    box-shadow: none;
  }

  &.index-1,
  &.index-2 {
    position: absolute;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 2px 2px;
    background: #ffffff;
    pointer-events: none;
  }

  &.index-1 {
    bottom: -10px;
    width: 300px;
  }

  &.index-2 {
    bottom: -20px;
    width: 280px;
  }

  &.item-box-main {
    position: relative;
    margin-bottom: calc(var(--group-length) * 10px);
  }
}

.item-title {
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 2px 2px 0 0;
  padding: 0 16px;
  display: flex;

  :global(.ant-typography) {
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
  }

  &.level-high {
    background: #f66969;
  }

  &.level-middle {
    background: #ffb566;
  }

  &.level-low {
    background: #7cabfe;
  }
}

.title-icon {
  margin-right: 4px;
  font-size: 16px !important;
}

.item-subtitle {
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;

  :global(.ant-typography) {
    line-height: 20px;
    font-size: 12px;
  }
}

.close-btn {
  font-size: 14px !important;
  color: var(--font-color-grey);
  font-weight: normal;
  cursor: pointer;

  &.is-loading {
    color: var(--font-color-grey-2);
    cursor: wait;
  }
}

.item-content {
  height: 148px;
  border-radius: 0 0 2px 2px;
  background: #ffffff;
  padding: 16px;
  overflow: hidden;
  color: var(--font-color-grey);
  line-height: 20px;
  font-size: 12px;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.2);

  :global(.content-content),
  :global(.content-label) {
    color: var(--font-color-grey);
  }
}

.link-outer {
  position: absolute;
  right: 16px;
  bottom: 16px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 92px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 0%,
      #ffffff 100%
    );
    pointer-events: none;
  }
}

.link {
  line-height: 22px;
  position: relative;
}

.is-last-item {
  margin-bottom: calc(var(--group-length) * 10px + 30px);
}
