.menu {
  &.all-no-start-icon {
    .no-start-icon.has-children {
      padding-left: 16px;
    }
  }

  &.has-children-node {
    &.all-no-start-icon {
      .no-start-icon.is-root {
        padding-left: 16px;
      }
    }

    .title.is-root {
      &.active {
        background-color: unset;
      }

      font-weight: bold;
    }
  }
}

.menu-item {
}

.title {
  display: flex;
  gap: 8px;
  padding: 0 16px;
  border-radius: 4px;
  height: 36px;
  margin: 4px;
  align-items: center;
  transition: border-color 0.3s, background 0.3s,
    padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--font-color-grey);
  user-select: none;

  &.no-start-icon {
    padding-left: 36px;
  }

  &:not(.no-collapse) {
    cursor: pointer;

    &:hover {
      background-color: var(--bg-color-grey-1);
    }
  }

  &.active {
    color: var(--primary-color);
  }

  &.active:not(.has-children) {
    background-color: var(--primary-color-1);
  }

  &.has-children {
    font-weight: bold;
  }

  &:not(.is-root) {
    font-size: 12px;
  }
}

.title-content {
  flex: 1;
}

.children-list {
}

.loading {
  padding-left: 20px;
}
