.scroll-loader {
  overflow-y: auto;

  &.is-popup {
    max-height: calc(315px - 35px);
  }

  &:not(.is-popup) {
    max-height: calc(var(--modal-height) - 35px - 48px);
    padding: 16px 20px;
  }
}

.is-not-full {
  .scroll-loader {
    &:not(.is-popup) {
      height: calc(100vh - 211px);
      padding: 16px 0;
    }
  }

  .search-input {
    padding: 0 !important;
  }

  .left {
    border-right: solid 1px var(--bg-color-grey-2);
    padding: 16px 16px 0;
  }
}

.list-header {
  padding: 5px 12px;

  &.is-modal {
    padding: 16px 32px 0;
  }

  :global {
    .ant-checkbox + span {
      padding-inline-end: 0;
    }

    .ant-checkbox-wrapper {
      margin-inline-end: 0 !important;
    }
  }
}
