.table {
  :global {
    .react-form__field {
      margin-bottom: 0 !important;
    }

    .react-form__field-main {
      flex-direction: row !important;
    }

    .react-form__field-label {
      margin-left: 0 !important;
      margin-right: 2px !important;
      min-width: initial !important;
      &:not(.is-req) {
        padding-left: 14px !important;
      }
    }

    .react-form__field-input {
      display: inline-flex;
      align-items: center;
    }

    .react-form__field-component {
      width: 220px;
      display: inline-flex;
    }

    .react-form__field-error {
      display: inline-block;
      white-space: nowrap;
      position: static;
      margin-left: 12px;
    }
  }
}
