.scroll-loader {
  overflow-y: auto;

  &.is-popup {
    max-height: calc(315px - 35px);
  }

  &:not(.is-popup) {
    max-height: calc(var(--modal-height) - 35px - 48px);
    padding: 16px 20px;
  }
}
