.select-list-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-list-item-label {
  line-height: 32px;
}

.select-list-item-content {
  min-width: 0;
}