#ant-tag {
  :global {
    .ant-tag {
      transform: translateY(-2px);

      span {
        max-width: 150px;
        display: inline-block;
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.input {
  background-color: #fff;
  font-size: var(--font-size-default);
  font-weight: normal;
  border: 1px solid var(--font-color-grey-3);
  border-radius: 2px;
  line-height: 30px;
  display: flex;
  cursor: pointer;
  width: 100%;
  min-width: 150px;
  min-height: 30px;
  overflow: hidden;
  position: relative;
  @extend #ant-tag;

  &.is-disabled {
    background: var(--bg-color-grey-2);
    color: var(--font-color-grey-2);
    cursor: not-allowed;

    .input-icon {
      color: var(--font-color-grey-2);
    }

    :global {
      .ant-tag {
        background: var(--bg-color-grey-2);
        color: var(--font-color-grey-2);
      }

      .ant-tag-close-icon {
        display: none;
      }
    }
  }

  &.large {
    line-height: 40px;
    min-height: 40px;
  }

  &.small {
    line-height: 24px;
    min-height: 24px;
  }

  :global(.ant-tag) {
    margin-right: 8px;
  }
}

.input-inner {
  padding: 0 11px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
}

.input-custom {
  .input-inner {
    padding: 0;
  }
}

.display-content {
  width: 100%;
  align-items: flex-start;

  > :global(.ant-space-item) {
    &:first-child {
      width: calc(100% - 16px);
    }

    &:last-child {
      width: 16px;
      font-size: 12px;
      color: var(--font-color-grey-2);
    }
  }
}

.overlay-footer-extra {
  border-top: 1px solid #f1f1f1;
}

.selected-tag {
  display: flex;
  border-top: 1px solid #f1f1f1;
  align-items: flex-start;
  padding: 12px 0 12px 12px;

  &:global {
    & > .ant-space-item {
      &:first-child {
        flex-shrink: 0;
        line-height: 24px;
      }

      &:last-child {
        flex: 1;
      }
    }
  }
}

.selected-tag-list {
  padding-top: 2px;
  max-height: 98px;
  overflow-y: auto;
  width: 100%;
}

.selected-tag-inner {
  padding-right: 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: fit-content;
}

.text-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder {
  color: var(--font-color-grey-2);
}

.overlay {
  @extend #ant-tag;

  &.is-modal {
    .selected-tag {
      border-top: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }

    .overlay-footer-extra {
      border-top: none;
    }
  }

  :global {
    .ant-popover-inner {
      padding: 0;
    }
  }
}

.overlay-content {
  min-width: 300px;
  width: var(--overlay-width);
}
