.helper-guide {
  color: var(--font-color-grey);
  line-height: 20px;
  height: 20px;
}

.inner {
  background: var(--primary-color-1);
  border-radius: var(--radius-default, 2px);
  padding: 0 8px;

  :global {
    .ant-space-item {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
    }

    .iconfont--color {
      display: block;
      margin-top: 2px;
      font-size: 15px;
    }
  }
}

.content {
  max-width: 216px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.link {
  font-size: 12px;
}
