.content {
  color: var(--font-color);
  word-break: break-all;
  white-space: pre-line;

  :global(.ant-space-item):first-child {
    flex-shrink: 0;
  }

  &.size-small {
    gap: 4px;
    .label,
    .content-content {
      font-size: 12px;
    }

    line-height: 18px;
  }
}

.item {
  align-items: start;

  :global(.ant-space-item):last-child {
    flex: 1;
  }
}

.label {
  color: var(--font-color-grey-1);
}
