.layout {
  --margin-width: 10px;
  --padding-width: 16px;
  background: var(--bg-color-grey-1);
  min-height: 100vh;

  .page-content,
  .page-main,
  .page-main-content,
  .table-page,
  :global(.ant-layout-content),
  :global(.loading-container),
  :global(.table-page-scroller),
  :global(.table-page-columns-width-changer),
  :global(.ant-table-wrapper),
  :global(.ant-spin-nested-loading),
  :global(.ant-spin-container),
  :global(.ant-table),
  :global(.ant-table-container),
  :global(.ant-table-body) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  :global(.ant-table-row-indent + .ant-table-row-expand-icon) {
    margin: 6px 0px;
  }

  .table-page {
    .helper-guide {
      padding: 0;
      margin-bottom: 8px;
    }
  }
}

.page-outer {
  flex: 1;
}

.page-main {
  border-radius: 2px;
}

.page-content {
  margin: var(--margin-width);

  &.no-margin {
    margin: 0;
  }
}

.page-menu {
  left: var(--scroll-left, 0px);
  width: var(--width);
  transition: width 300ms;
  margin: var(--margin-width) 0 var(--margin-width) var(--margin-width);
  flex-shrink: 0;

  &.closed {
    width: 0;
    $width: var(--margin-width);
    margin-right: calc(0px - var(--margin-width));

    .page-menu-inner {
      transform: translateX(calc(-100% - 40px));
    }
  }
}

.page-menu-main,
.page-option-main {
  padding: var(--padding-width);
  overflow-y: auto;
}

.page-menu-main,
.page-menu-main-outer {
  height: 100%;
}

.page-option-main {
  height: calc(100% - var(--foot-height));
}

.page-option {
  left: var(--scroll-left, 0px);
  width: var(--width);
  margin: var(--margin-width) var(--margin-width) var(--margin-width) 0;
  flex-shrink: 0;
}

.page-menu-inner,
.page-option-inner {
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--bg-color-white);
  border-radius: 2px;
  transition: transform 300ms;
  height: calc(100vh - 2 * var(--margin-width) - var(--nav-height));
  width: var(--width);
}

.page-option-footer {
  width: 100%;
  height: 56px;
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--bg-color-grey-3);
  background: var(--bg-color-white);

  :global(.ant-space) {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
}

.fixed-container {
  position: absolute;
  z-index: 1;

  &.is-fixed {
    position: fixed;
  }
}

.page-menu-btn-outer {
  top: calc(22px + var(--nav-height));
  left: var(--scroll-left);
  z-index: 1000;

  :global {
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      background-color: var(--primary-color);
      color: #fff !important;
    }
  }
}

.page-menu-btn {
  &:global(.ant-btn.ant-btn-icon-only) {
    border: none;
    width: 14px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    transform: translateX(calc(var(--width) + var(--margin-width)));
    transition: transform 300ms;
    background-color: var(--primary-color) !important;
    color: #fff;
  }

  :global(.iconfont) {
    font-size: 12px;
    display: block;
  }

  &.closed {
    &:global(.ant-btn.ant-btn-icon-only) {
      transform: translateX(0);
    }
  }
}

.page-title {
  padding: 8px var(--padding-width);
  border-bottom: solid 1px rgba(126, 134, 142, 0.16);
  background: var(--bg-color-white);
  border-radius: 2px;

  &-text {
    font-weight: bold;
    color: #171a1d;
    font-size: 18px;
  }
}

.page-main-content {
  padding: var(--padding-width);
  background: var(--background-color, #ffffff);
  border-radius: 2px;

  &.no-padding {
    padding: 0;
  }
}

.page-header {
  background: var(--bg-color-white);
  transition: box-shadow 500ms;

  :global(.ant-affix) {
    top: var(--nav-height-base) !important;
    background: var(--bg-color-white);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  }
}

.page-header-info {
  min-width: 0;
  margin: var(--margin-width);
  margin-bottom: 0;
  background: var(--bg-color-white);
  transition: box-shadow 500ms;
  border-radius: 2px;
}

.layout-menu {
  border: none !important;

  &:global(.ant-menu) {
    height: auto;
    min-height: 100%;
  }

  .sub-menu {
    :global {
      .ant-menu-title-content {
        font-weight: bold;
        font-size: var(--font-size-small);
      }
    }
  }

  :global {
    .ant-menu-sub {
      .ant-menu-title-content {
        padding-left: 36px;
        font-weight: 400;
      }

      .ant-menu-item-selected .ant-menu-title-content {
        font-weight: 500;
      }
    }

    .ant-menu-item:not(.ant-menu-item-selected):hover {
      background: var(--bg-color-grey-1) !important;
    }
  }

  &.no-collapsed {
    :global(.ant-menu-submenu-title) {
      pointer-events: none;
      font-size: var(--font-size-default);

      :global(.iconfont) {
        color: var(--font-color-grey-1);
      }
    }

    :global(.ant-menu-submenu-expand-icon) {
      display: none;
    }

    :global(
        .ant-menu-submenu-selected
          .ant-menu-submenu-title
          .ant-menu-title-content
      ) {
      color: var(--font-color);
    }

    :global(.ant-menu-item-selected .ant-menu-title-content),
    :global(
        .ant-menu-submenu-selected
          .ant-menu-submenu-title
          .ant-menu-submenu-expand-icon
      ) {
      color: var(--primary-color);
    }
  }

  &.has-not-children {
    :global(.ant-menu-item) {
      font-size: var(--font-size-default);

      :global {
        .ant-menu-title-content {
          color: var(--font-color-grey);
        }
      }
    }
  }

  :global(.iconfont) {
    color: var(--font-color-grey-1);
  }

  :global(.ant-menu-title-content) {
    padding: 0 16px;
    //color: var(--font-color-grey);
    font-size: var(--font-size-default);

    :global {
      .ant-row {
        margin: 0;

        .ant-col {
          padding: 0 !important;
        }
      }
    }

    :global(.iconfont) {
      margin-right: 8px;
    }
  }

  :global(.ant-menu-item) {
    font-size: var(--font-size-small);
    line-height: 36px !important;
    height: 36px !important;
    margin-top: 0;
    margin-bottom: 4px !important;
  }

  :global(.ant-menu-item-selected .ant-menu-title-content),
  :global(
      .ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-title-content
    ),
  :global(
      .ant-menu-submenu-selected
        .ant-menu-submenu-title
        .ant-menu-submenu-expand-icon
    ),
  :global(.ant-menu-submenu-selected .iconfont),
  :global(.ant-menu-item-selected .iconfont) {
    color: var(--primary-color) !important;
  }

  :global(.ant-menu-sub.ant-menu-inline) {
    background: var(--bg-color-white) !important;
  }

  :global(.ant-menu-submenu-active .ant-menu-submenu-title) {
    background: var(--bg-color-grey-1);
  }

  :global(.ant-menu-submenu-title) {
    font-weight: bold;
    color: var(--font-color);
    background: var(--bg-color-white);

    :global(.ant-menu-title-content) {
      color: var(--font-color);
    }
  }

  &:global(.ant-menu) {
    :global(.ant-menu-item) {
      border-radius: 4px;
    }

    :global(.ant-menu-item-selected) {
      &:after {
        content: normal;
      }
    }

    :global(.ant-menu-item-active:not(.ant-menu-item-selected)) {
      background: var(--bg-color-grey-1);
      color: inherit;
    }
  }

  :global(
      .ant-menu-submenu:not(.ant-menu-submenu-selected):hover
        .ant-menu-submenu-expand-icon
    ) {
    color: var(--font-color);
  }

  :global(.ant-menu-submenu-selected .ant-menu-submenu-expand-icon) {
    color: var(--primary-color);
  }

  :global(.ant-menu-submenu-expand-icon) {
    font-size: 12px;

    &:before {
      display: block;
      transform: scale(0.84);
    }
  }

  :global(.ant-menu-submenu-open .ant-menu-submenu-expand-icon) {
    &:before {
      transform: rotate(90deg) scale(0.84);
      transition: transform 300ms;
    }
  }

  :global {
    .ant-menu-item {
      .ant-menu-title-content {
        .div {
          color: var(--font-color-grey);
        }
      }
    }

    .ant-menu-submenu {
      .ant-menu-sub {
        .ant-menu-item {
          .ant-menu-title-content {
            color: var(--font-color-grey);
          }
        }
      }
    }
  }
}

.table-page-top {
  margin-bottom: var(--margin-width);
}

.error-component {
  background: red;
  color: var(--bg-color-white);
  padding: 20px;
}

.state-bar-page {
  margin: -16px -16px 0;

  :global {
    .ant-tabs-tab:first-child {
      margin-left: 16px;
    }

    .ant-tabs-extra-content {
      margin-right: 16px;
    }
  }
}

.back-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--font-color-grey-2);
  border-radius: 50%;
  cursor: pointer;

  :global {
    .iconfont {
      transform: scale(0.6);
    }
  }
}

.helper-guide {
  padding: 0;
  margin-bottom: 8px;
}
