.filter {
  padding: 0 !important;
  border: none !important;
  font-size: var(--font-size-small) !important;
}

.filter-item-icon {
  display: block;
  font-size: var(--font-size-small) !important;
  transform: scale(0.5);
}

.filter-item-option-icon {
  display: block;
  font-size: var(--font-size-small) !important;
  transform: scale(0.83);
}

.filter-title {
  width: 100%;
  padding: 8px var(--padding-width);
  line-height: 30px;
  border-bottom: solid 1px rgba(126, 134, 142, 0.16);

  > :global(.ant-space-item:last-child) {
    flex: 1;
  }
}

.filter-title-hidden {
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
  line-height: 0;
}

.ad-filter-title {
  width: 100%;
  line-height: 30px;

  .ad-filter-line {
    line-height: 30px;
  }

  .filter-line .clean-btn {
    border-color: var(--font-color-grey-2);
  }

  > :global(.ant-space-item:last-child) {
    flex: 1;
  }

  .filter-item.un-expand {
    border: solid 1px var(--font-color-grey-2);
  }
}

.ad-filter-selected {
  border-top: solid 1px var(--bg-color-grey-2);
  padding: 6px 0;
  font-size: var(--font-size-small) !important;
}

.filter-label {
  display: block;
  font-weight: bold;
  white-space: nowrap;
  font-size: var(--font-size-small) !important;
}

.filter-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  min-height: 30px;
  row-gap: 8px;

  .clean-btn {
    color: var(--font-color-grey);
    border-color: transparent;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.ad-filter-line {
  line-height: 24px;
  margin-bottom: 6px;

  input {
    font-size: var(--font-size-small) !important;
  }

  .filter-item {
    padding: 0 4px;
  }
}

.filter-item-wrap {
  height: 30px;
}

.filter-item {
  //width: 100%;
  position: relative;
  height: 20px;
  overflow: hidden;
  color: var(--font-color-grey);
  border-radius: 2px;
  padding: 0 var(--font-size-small);
  transition: color 300ms, background 300ms;
  cursor: pointer;

  :global {
    .ant-space-item {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &.option {
    color: var(--primary-color);
    width: auto;
  }

  &:hover {
    //color: var(--primary-color);
    background: var(--bg-color-grey-1);
  }

  &.is-active {
    color: var(--primary-color);
  }

  &.is-visited {
    color: #fff;
    background: var(--primary-color);

    .filter-item-icon {
      transform: rotate(180deg) scale(0.5);
    }
  }

  :global(.advance-select-input) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.un-expand-shadow {
  opacity: 0;
  pointer-events: none;
  height: 20px;
  overflow: hidden;

  :global(.ant-btn) {
    font-size: var(--font-size-small) !important;
  }
}

.un-expand {
  position: absolute;
  right: 0;
  bottom: 0;

  :global(.ant-btn) {
    font-size: var(--font-size-small) !important;
  }
}

.filter-item-label {
  white-space: nowrap;
  display: flex;
  font-size: var(--font-size-small) !important;
}

.filter-item-field {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  display: inline-flex;

  input,
  :global(.ant-picker-range-separator),
  :global(.ant-picker-separator) {
    cursor: pointer;
  }

  .filter-drop-tag {
    flex: 1;
  }
}

.filter-list-tag {
  line-height: 18px;
  padding: 0 4px;
}

.filter-drop-tag {
  line-height: 18px;
  padding: 0 4px;
  margin: 0;
}

.filter-tag {
  vertical-align: middle;
  display: flex;
  align-items: center;
  background: #5cb8b210;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  color: var(--font-color-grey);

  :global(.ant-tag-close-icon) {
    color: var(--primary-color);
  }

  :global(.ant-tag) {
    color: var(--font-color-grey);
  }
}

.filter-tag-value {
  color: var(--primary-color);
  max-width: 360px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 4px;

  :global {
    .ant-space {
      font-size: 12px;
    }
  }
}

.pop-util-content {
  padding: 24px;
}

.pop-util-overlay {
  padding: 0;

  :global(.ant-popover-arrow) {
    display: none;
  }

  :global(.ant-popover-inner-content),
  :global(.ant-popover-inner) {
    padding: 0;
  }

  :global(.ant-popover-inner) {
    transform: translateY(-10px);
  }

  :global {
    .ant-input-number-focused {
      box-shadow: none;
    }
  }
}

.pop-util-footer {
  border-top: solid 1px var(--bg-color-grey-3);
  padding: 8px 24px;
}

.pop-util-text {
  width: 100%;
  height: 100%;
}

.filter-item-inner {
  height: 100%;
  min-height: unset !important;
}

.filter-item-text {
  width: 240px;
}

.filter-item-number-range {
  //width: 240px;
}

.filter-item-custom {
  display: inline-flex;

  .is-active {
    color: var(--font-color);
  }

  .filter-item-label {
    font-size: var(--font-size-small) !important;
    color: var(--font-color);
  }

  .filter-item:hover {
    background-color: transparent;

    .filter-item-label {
      color: var(--primary-color);
    }
  }

  :global {
    .ant-popover-open {
      background-color: var(--primary-color);

      .filter-item-label {
        color: #fff;
      }
    }

    .iconfont {
      display: none;
    }
  }
}

.filter-item-custom-active {
  .filter-item {
    background-color: var(--primary-color);
  }

  .filter-item-label {
    gap: 0 !important;
    color: #fff;
  }
}

.filter-item-number-range-split:global(.ant-input) {
  width: 30px;
  border-left: 0;
  border-right: 0;
  pointer-events: none;
  background: transparent;
}

.filter-item-number-input {
  &:first-child {
    width: 105px;

    &:not(:global(.ant-input-number-focused)):not(:hover) {
      border-right-color: transparent;
    }
  }

  :global(.ant-input-number) {
    width: 105px;

    &:not(:global(.ant-input-number-focused)):not(:hover) {
      border-left-color: transparent;
    }
  }

  :global(.ant-input-number-group-addon:last-child) {
    border-left: 1px solid #d9d9d9;
  }
}

.range-picker {
  :global {
    .ant-picker-input {
      display: none;
    }
  }
}

.cascader-select-wrap {
  :global {
    .ant-select-selector {
      padding-left: 11px;
    }

    .ant-select-selection-item {
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      align-items: center;
      display: flex;
      vertical-align: middle;
      background: rgba(#222222, 0.02);
      border: 1px solid #d9d9d9;
      border-radius: 2px;
    }
  }
}

.cascader-dropdown-menu {
  font-size: 14px;
}
