.money-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-color: #d9d9d9;
  :global(.ant-input-number-group-wrapper),
  :global(.ant-input-number-wrapper),
  :global(.ant-input-number) {
    border-color: inherit;
  }

  .money-description {
    color: var(--font-color-grey-1);
    font-size: var(--font-size-small);
  }
}
