.address {
  :global {
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 10px !important;
    }

    .ant-tabs-nav {
      margin: 0;
    }
  }

  &.is-popup {
    .title {
      margin: 10px 0;
    }
  }

  &:not(.is-popup) {
    :global {
      .ant-tabs-tab + .ant-tabs-tab {
        margin-left: 20px !important;
      }
    }

    .scroll-box {
      height: calc(var(--min-modal-height) - 105px);
      max-height: calc(580px - 58px);
    }

    .scroll-plus-box,
    .content {
      height: calc(var(--min-modal-height) - 48px);
      max-height: 580px;
    }

    .col-left {
      :global {
        .ant-tabs {
          width: 160px;
        }
      }
    }

    .scroll-plus-box {
      padding: 16px 20px;
      height: calc(var(--min-modal-height) - 48px - 32px);
      max-height: calc(580px - 32px);
    }
  }
}

.col-left {
  height: 100%;

  :global {
    .ant-tabs {
      width: 150px;
    }

    .ant-menu {
      border: none !important;
    }
  }
}

.col-right {
  border-left: solid var(--bg-color-grey-2) 1px;
  .scroll-box,
  .title {
    padding: 0 16px;
  }
}

.scroll-box {
  height: 220px;
  overflow: auto;
}

.scroll-plus-box,
.content {
  height: 266px;
}
