.form-outer {
  &:global {
    &.react-form--inner .react-form__field,
    &.react-form--inner--large .react-form__field,
    &.react-form--inner--small .react-form__field {
      margin-bottom: 16px;
    }
  }

  :global {
    .react-form__field {
      color: var(--font-color);

      input {
        color: var(--font-color);
      }

      input::placeholder {
        color: var(--font-color-grey-2);
      }
    }

    .react-form__field-label.is-req {
      margin-left: 0;
    }

    .react-form__field-label {
      &.is-req:before {
        color: var(--color-warning);
        font-family: "iconfont" !important;
        content: "\e684";
        position: static;
        display: inline-block;
        transform: translateX(0px) scale(0.7);
        margin-right: 0;
      }

      color: var(--font-color-grey);
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      margin-bottom: 8px;
      font-weight: normal !important;
    }

    .react-form__field-error {
      line-height: 14px;
    }

    .ant-input-number,
    .ant-input-number-group-wrapper {
      width: 100%;
    }

    .ant-picker.react-form__field-component,
    .data_range_picker {
      flex: 1;
      width: 100%;
    }

    .ant-input-number-group-addon,
    .ant-input-group-addon {
      background: #ffffff;
      color: var(--font-color);
    }

    .ant-picker-suffix,
    .ant-select-arrow {
      color: var(--font-color);

      .anticon-down svg {
        display: none;
      }

      .anticon-down:before {
        display: block;
        font-family: "iconfont" !important;
        content: "\e693";
      }
    }
  }
}

.form-drawer {
  :global {
    .react-form,
    .react-form > span {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.table-list {
  .list-item {
    margin-bottom: 0 !important;
  }

  :global {
    .react-form__field-label {
      display: none;
    }

    .ant-row:not(:last-child) {
      border-bottom: solid 1px var(--bg-color-grey-3);
    }

    .ant-row:hover {
      background: var(--bg-color-grey-1) !important;
    }

    .ant-col {
      padding: 16px;
      width: var(--col-width);
    }
  }
}

.table-list-inner {
  border: solid 1px var(--bg-color-grey-3);
}

.table-list-field {
  &:global(.ant-col) {
    padding-bottom: 0;
  }
}

.table-list-header {
  background: var(--bg-color-grey-1);

  .is-req:before {
    color: var(--color-warning);
    font-family: "iconfont" !important;
    content: "\e684";
    position: static;
    display: inline-block;
    transform: translateX(0px) scale(0.7);
    margin-right: 0;
    font-weight: bold;
  }

  :global {
    .ant-col {
      padding: 8px 16px;
    }
  }
}

.table-list-extra {
  flex-basis: 100px;
  text-align: right;
}

.list-btn {
  padding: 0;
  cursor: pointer;

  &:global(.ant-btn-text.ant-btn-dangerous) {
    background: transparent;
  }

  :global(.iconfont) {
    margin-right: 4px;
  }
}

.form-info {
  > :global(.ant-card-head .part-title) {
    font-size: var(--font-size-large);
  }
}

.list-part {
  > :global(.ant-card-head .part-title) {
    font-size: var(--font-size-large);
  }

  > :global(.ant-card-head) .list-btn {
    border-radius: 2px;
    border: 1px solid var(--font-color-grey-2);
    padding: 6px 12px;
  }

  .list-part .list-btn {
    padding: 0;
    border: none;
  }

  &:global {
    &.ant-card .ant-card-body {
      padding: 16px 0 0;
      border-radius: 0;
    }
  }
}

.list-item {
  &.is-important {
    > .list-item-part:global(.ant-card > .ant-card-head) {
      background: var(--primary-color-06);
    }

    > .list-item-part:global(
        .ant-card > .ant-card-head .ant-card-head-title .part-title
      ) {
      color: var(--primary-color);
    }

    .list-item-part:global(.ant-card .ant-card-head-title .part-title) {
      font-weight: 500;
    }

    > .list-item-part:global(.ant-card)
      .list-part:global(.ant-card > .ant-card-head) {
      background: transparent;
      padding: 0;
      border: none;
      line-height: 1;
    }

    > .list-item-part:global(.ant-card)
      .list-part:global(.ant-card > .ant-card-body) {
      padding: 16px 0;
    }

    > .list-item-part {
      border-color: var(--primary-color-5);
    }

    .table-list-inner {
      border: none;
    }
  }

  .list-item-part {
    &:global {
      &.ant-card {
        .ant-card-head {
          background: #f8f8f8;
          border-bottom: 1px solid var(--font-color-grey-4);
          line-height: 36px;
          height: 36px;
          padding: 0 16px;
        }

        .ant-card-head-title .part-title {
          background: transparent;
          font-weight: normal;
          font-size: 14px;
          color: var(--font-color);
        }

        .ant-card-body {
          padding: 16px;
        }
      }
    }
  }

  :global(.ant-divider) {
    border-top-color: var(--font-color-grey-2);
  }

  :global(.ant-divider) {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.list-item-part {
  border: 1px solid var(--font-color-grey-4);
}

.money-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-color: #d9d9d9;

  :global(.ant-input-number-group-wrapper),
  :global(.ant-input-number-wrapper),
  :global(.ant-input-number) {
    border-color: inherit;
  }

  .money-description {
    color: var(--font-color-grey-1);
    font-size: var(--font-size-small);
  }
}

.components-upload-wrapper {
  width: 100%;

  :global {
    .ant-upload-list-text {
      .ant-upload-list-item-name {
        flex: none !important;
      }
    }

    .ant-upload-list-item-container {
      transition: none !important;
    }

    .ant-upload-list-picture {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 0 0 0 -16px;
      width: calc(100% + 16px);
      justify-content: flex-start;

      :hover {
        .ant-upload-list-item-remove {
          display: flex;
        }
      }

      .ant-upload-list-picture-container {
        width: calc((100% - 48px) / 3);
        min-width: calc((100% - 48px) / 3);
        max-width: calc((100% - 48px) / 3);
        height: 64px;
        margin: 16px 0 0 16px;
        border: 1px solid var(--font-color-grey-2);
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: opacity 0.1s, height 0.1s;

        &:nth-child(3n) {
          margin-right: 0;
        }

        .ant-space {
          flex: 1;
        }
      }

      .ant-upload-list-item-thumbnail {
        padding: 0 12px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .ant-upload-list-item-file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding-right: 8px;
        word-break: break-all;
      }

      .ant-upload-list-item-remove {
        width: 36px;
        max-width: 36px;
        height: 100%;
        background: var(--font-color-grey-4);
        border-radius: 0 2px 2px 0;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
      }
    }
  }
}

.textarea-wrapped-component {
  textarea {
    padding-right: 20px;
  }
}

.helper-guide-field {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 0;
  transform: translateY(4px);
}

.field-tips {
  //transform: translateY(26px);
  //display: block;

  &.label-hidden {
    //transform: translateY(4px);
  }
}

.error-tip-overlay {
  :global(.ant-popover-inner) {
    padding: 0;
    border: 1px solid #ffffff;
  }
}

.error-tip-overlay-content {
  padding: 12px 16px;
  box-sizing: border-box;
}

.column-not-layout {
  display: none;
}

.mult-field {
}

.mult-field-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;

  &:not(.first-item) {
    :global {
      .react-form__field-label {
        display: none;
      }
    }
  }

  .react-form__field-label {
    color: var(--font-color-grey);
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 8px;
  }

  :global {
    .react-form__field {
      flex: 1;
    }
  }
}

.mult-field-add-btn {
  margin-bottom: 16px;
}

.form-step-section {
  width: auto;
  min-width: 50%;
}
