@import "../../common/warning-color";

.modal {
  &.large {
    .modal-body-inner {
      min-width: 1000px;
    }
  }

  :global {
    .ant-modal-confirm-btns,
    .ant-modal-footer,
    .ant-modal-confirm-title {
      display: none;
    }

    .ant-modal-content {
      padding: 0;
      border-radius: 8px;
    }

    .ant-modal-confirm-body {
      display: block;
    }

    .ant-spin {
      background: #fff;
      border-radius: 8px;
    }
  }

  &:global(.tabs-modal) {
    $body-min-height: 80px;
    color: red;
    .modal-title {
      display: none;
    }

    .modal-outer {
      display: flex;
      flex-direction: column;
      min-height: $body-min-height;
    }

    .modal-body {
      flex: 1;
    }

    :global {
      .ant-modal-header {
        display: none;
      }

      .ant-modal-body {
        padding: 0;
      }

      .ant-tabs .ant-tabs-content {
        position: static;
        min-height: $body-min-height;
      }

      .ant-tabs-nav {
        padding: 0 86px 0 24px;
        margin: 0;
      }

      .ant-tabs-tab {
        padding: 17px 0;
      }
    }
  }

  &:global {
    &.ant-modal-confirm .ant-modal-confirm-paragraph {
      max-width: unset;
    }

    &.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-content {
      margin-block-start: unset;
      max-width: unset;
    }
  }
}

.right-options-modal {
  flex: none;

  .modal-body-inner {
    padding: 0;
    height: 100%;
    min-height: 100%;
  }
}

.right-options-row {
  height: 100%;
}

.right-options-col {
  padding: 24px;
  box-sizing: border-box;

  &:first-child {
    border-right: solid 1px var(--bg-color-grey-3);
  }

  &:last-child {
  }
}

.modal-outer {
}

.modal-title {
  border-bottom: 1px solid var(--bg-color-grey-3);
  color: var(--font-color);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 11px 24px;
}

.modal-body {
  --modal-height: calc(95vh - 160px);
  max-height: var(--modal-height);
  min-height: var(--min-modal-height);

  :global {
    .simplebar-content-wrapper:nth-child(1) {
      height: 100% !important;
      .simplebar-content:nth-child(1) {
        height: 100%;
        box-sizing: border-box;
      }
    }
  }

  &.is-disabled-scroller {
    .modal-body-inner {
      padding: 0;
    }
  }

  &:not(.is-disabled-scroller) {
    overflow: auto;
  }
}

.modal-body-inner {
  padding: 24px;
  min-height: 100%;
  box-sizing: border-box;

  .content {
    height: 100%;
  }
}

.modal-footer {
  border-top: 1px solid var(--bg-color-grey-3);
  padding: 12px 24px;
}

.modal-close {
  &:global {
    &.ant-btn.ant-btn-icon-only.ant-btn-text {
      width: 22px;
      height: 22px;
    }
  }

  position: absolute;
  top: 13px;
  inset-inline-end: 17px;
  z-index: 1010;
  padding: 0;
  color: var(--font-color-grey);
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border-radius: 2px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.confirm-modal-wrap {
  :global {
    .title-icon {
      margin: 8px 8px 0 0;

      &-confirm {
        color: $info-color;
      }

      &-info {
        color: $info-color;
      }

      &-success {
        color: $success-color;
      }

      &-warning {
        color: $warning-color;
      }

      &-error {
        color: $error-color;
      }
    }

    .ant-modal-confirm
      .ant-modal-confirm-body
      .ant-modal-confirm-title
      + .ant-modal-confirm-content {
      max-width: 100% !important;
    }

    .ant-modal-confirm-body-wrapper {
      min-height: 96px;
      display: flex;
      flex-direction: column;
    }

    .ant-modal-content {
      border-radius: 8px;
      max-width: 400px;
      box-sizing: border-box;
    }

    .ant-modal-confirm-btns {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex: 1;
    }
  }

  &.is-danger {
    --color-warning: #d14343;

    :global {
      .ant-popover-buttons .ant-btn-primary,
      .ant-modal-confirm-btns .ant-btn-primary {
        background: var(--color-warning);
        border-color: var(--color-warning);
      }

      .title-icon {
        color: var(--color-warning);
      }
    }
  }

  .title {
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  .content {
    &.has-title {
      color: var(--font-color-grey-1);
      line-height: 20px;
    }
  }
}
