.descriptions {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  line-height: 20px;
  &:not(:last-child) {
    border-bottom: none;
  }
}

.descriptions-item {
  height: 100%;
}

.col-label,
.col-content {
  font-size: var(--font-size-default);
  padding: 8px 16px;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  line-height: 20px;
  word-break: break-all;
}

.col-label {
  background: var(--bg-color-grey-1);
  color: var(--font-color-grey);
}

.col-content {
  word-break: break-all;
  white-space: pre-line;
}
