.drawer {
  :global {
    .ant-drawer-body {
      display: flex;
      overflow: hidden;
      padding: 0;
    }
  }
}
.drawer-outer {
  display: flex;
  flex-direction: column;
  flex: 1;
  --drawer-height: calc(100vh - 110px);
}

.drawer-title {
  border-bottom: 1px solid var(--bg-color-grey-3);
  color: var(--font-color);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 11px 24px;
}

.drawer-body {
  flex: 1;
  max-height: var(--drawer-height);

  &.is-disabled-scroller {
    .drawer-body-inner {
      padding: 0;
    }
  }

  &:not(.is-disabled-scroller) {
    overflow: auto;
  }
}

.drawer-body-inner {
  padding: 24px 32px;
}

.drawer-footer {
  border-top: 1px solid var(--bg-color-grey-3);
  padding: 12px 24px;
}

.drawer-close {
  &:global {
    &.ant-btn.ant-btn-icon-only.ant-btn-text {
      width: 22px;
      height: 22px;
    }
  }

  position: absolute;
  top: 17px;
  inset-inline-end: 17px;
  z-index: 1010;
  padding: 0;
  color: var(--font-color-grey);
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border-radius: var(--radius-default, 2px);
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
