.search-input {
  :global(.ant-input-group-addon) {
    display: none;
    background: transparent;
  }

  :global(.ant-input-affix-wrapper){
    border-radius: var(--radius-default);
  }

  //&:not(.is-popup) {
  //  padding: 16px 32px 0;
  //}

  &.is-popup {
    :global(.ant-input) {
      border-color: transparent;
      box-shadow: none;
    }

    :global(.ant-input-affix-wrapper) {
      border-color: var(--primary-color);
      //border-bottom-color: var(--font-color-grey-3);
      box-shadow: none !important;

      //&:global(.ant-input-affix-wrapper-focused) {
      //  border-bottom-color: var(--primary-color);
      //}
    }

    :global(.ant-input-search-button) {
      background: transparent;
      box-shadow: none;
      border-color: transparent;
      padding: 0;
      margin-right: 8px;

      :global(.iconfont) {
        transition: color 500ms;
        color: var(--font-color-grey-3);
      }
    }
  }
}
