.width-container {
  width: 100%;
  pointer-events: none;
}

.hidden-container {
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.hidden-inner {
  position: absolute;
}

.menu-list {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;
      background: transparent !important;
    }
  }

  .btn-item {
    padding: 5px 8px !important;
    border: none;
    width: 100%;
    color: var(--primary-color);

    &:global(.ant-btn-primary) {
      color: #ffffff;
    }

    :global(.ant-btn-loading-icon) {
      display: none;
    }

    &:hover:not(:disabled) {
      color: var(--primary-color);
      background: var(--primary-color-1) !important;
    }
  }
}
