.container {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;

  :global(.react-pdf__Page__canvas),
  :global(.textLayer) {
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &.container-html {
    overflow: hidden;
    background: #ffffff;
  }

  iframe,
  .html-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.loading {
  text-align: center;
  background: #ffffff;
  padding: 10px;
}

.control-bar {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 60px;
  line-height: 40px;
  background: #222;
  color: #fff;
  position: relative;
  z-index: 2;

  input {
    width: 60px;
    text-align: center;
    background: #222;
    color: #ffffff;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  :global(.ant-btn) {
    color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }
}

.scroller {
  background: #999;
}

.outer {
  border: solid #999 10px;
  //overflow-x: auto;
  //user-select: none;
}

.file-name {
  position: absolute;
  left: 10px;
  top: 10px;
}

.file-options {
  position: absolute;
  right: 10px;
  top: 10px;
}

.scale-input {
  text-align: center;

  :global {
    .ant-col:not(:last-child) {
      display: none;
    }
  }
}

.text-outer,
.error,
:global(.react-pdf__message) {
  background: #ffffff;
}

.text-inner {
  background: #ffffff;
  padding: 20px;
  word-break: break-all;
}

.image-inner {
  background: #ffffff;
  display: block;
  margin: 0 auto;
}

.html-preview-iframe {
  min-height: 800px;
}
