.state-bar {
  :global {
    .ant-tabs-tabpane {
      padding: 0;
    }

    .ant-tabs-content-holder {
      display: none;
    }
  }

  &.has-children {
    :global {
      .ant-tabs-content-holder {
        display: unset;
      }
    }
  }

  &:global(.ant-tabs.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab) {
    font-size: 12px;
  }
}

.tab-tab-control {
  &:global(
      .ant-tabs.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab
    ) {
    margin-left: 16px;
  }

  &:global(
      .ant-tabs.ant-tabs-default > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab
    ) {
    margin-left: 24px;
  }
}

.tab-radio-control {
  :global {
    .ant-tabs-nav {
      margin: 0;

      &::before {
        border-bottom: none;
      }

      .ant-tabs-ink-bar {
        display: none;
      }

      .ant-tabs-nav-list {
        align-items: center;
        position: relative;
      }

      .ant-tabs-nav-more {
        padding: 0 16px;
      }
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }

    .ant-tabs-tab {
      height: 24px;

      &.ant-tabs-tab-active {
        background: var(--primary-color-1);
        border-radius: 2px;
      }
    }
  }

  &:global(.ant-tabs .ant-tabs-tab) {
    padding: 0 12px;
  }

  &:global(.ant-tabs.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab) {
    font-size: 12px;
    padding: 0 8px;
  }
}

.tab-step-control {
  :global {
    .ant-tabs-nav-wrap {
      overflow: hidden;
      height: 40px;
      align-items: center;
      margin: auto;
    }

    .ant-tabs-nav {
      margin: 0;

      &::before {
        border-bottom: none;
      }

      .ant-tabs-ink-bar {
        display: none;
      }

      .ant-tabs-nav-list {
        align-items: center;
        flex: 0.999 1;
      }

      .ant-tabs-nav-operations-hidden {
        display: none;
      }
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
      margin-right: 6px;
      white-space: nowrap;
      color: var(--font-color);
      flex: 1;
    }

    .ant-tabs-tab {
      padding: 0 20px 0 34px;
      height: 40px;
      background: var(--bg-color-grey-2);
      margin-right: 6px;
      flex: 1;

      &::before {
        content: "";
        position: absolute;
        border: 21px solid transparent;
        border-bottom-color: var(--bg-color-white);
        pointer-events: none;
        left: -24px;
        top: -16px;
        transform: rotate(74deg) skew(22deg, 16deg);
        border-left-width: 50px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        background: var(--bg-color-grey-2);
        right: -10px;
        transform: rotate(45deg) skew(16deg, 16deg);
        pointer-events: none;
        z-index: 3;
      }

      .ant-tabs-tab-btn {
        color: var(--font-color);
        width: 100%;
        text-align: center;
        transition: none;
      }

      &.ant-tabs-tab-active {
        background: var(--primary-color);
        border-radius: 2px;

        &::before,
        &::after {
          background: var(--primary-color);
        }

        .ant-tabs-tab-btn {
          color: var(--bg-color-white);
        }
      }

      &:first-child {
        padding-left: 20px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        &::before {
          display: none;
        }
      }

      &:nth-last-child(2) {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        &::after {
          display: none;
        }
      }
    }
  }
}

.inner-state-bar {
  margin: -16px -16px 0;

  :global {
    .ant-tabs-tab:first-child {
      margin-left: 16px;
    }

    .ant-tabs-extra-content {
      margin-right: 16px;
    }
  }
}
