.upload {
  position: relative;
  overflow: hidden;
}

.upload-list {
  :global(.ant-list-item) {
    padding: 0 8px !important;
  }
}

.upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.tips {
  color: #9c9b9b;
  font-size: 12px;
}
