.table {
  visibility: visible;

  &.is-resize {
    user-select: none;
    cursor: col-resize;

    th.is-moving:not(:last-child) {
      border-right: dashed 1px var(--primary-color-1);
    }

    .is-moving:not(:last-child) {
      border-right: dashed 1px var(--primary-color);
    }

    :global(.ant-table-thead .ant-table-cell) {
      &:hover {
        .cell-resize-bar {
          visibility: hidden;
        }
      }

      &.is-moving {
        .cell-resize-bar {
          visibility: visible;
        }
      }
    }
  }

  :global(.ant-table-thead .ant-table-cell) {
    &:hover {
      .cell-resize-bar {
        visibility: visible;
      }
    }

    .cell-resize-bar {
      visibility: hidden;
    }
  }

  &.is-computed {
    visibility: hidden;
  }

  :global {
    /*.ant-table-container {
      border: solid 1px var(--bg-color-grey-2);
    }*/
    .ant-table-sticky-scroll {
      display: none;
    }

    .ant-table-header,
    .ant-table-thead {
      &.ant-table-sticky-holder {
        top: var(--sticky-offset) !important;
      }
    }

    .ant-table-header {
      border: solid 1px var(--bg-color-grey-2);
      border-bottom: none;
    }

    .ant-table-tbody td.ant-table-cell {
      &:first-child {
        border-left: solid 1px var(--bg-color-grey-2);
      }

      &:last-child,
      .ant-table-expanded-row-fixed {
        border-right: solid 1px var(--bg-color-grey-2);
      }

      .ant-table-expanded-row-fixed {
        transform: translateY(-8px);
      }
    }

    .ant-table-wrapper .ant-table {
      scrollbar-color: unset !important;
    }

    .ant-table-content {
      //overflow: hidden !important;
    }

    .ant-table-cell,
    .ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell {
      padding: 8px;
    }

    .ant-table-wrapper .ant-table-thead > tr > th.ant-table-cell {
      padding: 13px 16px;
    }

    th.ant-table-cell {
      font-weight: 500 !important;

      &:before {
        content: normal !important;
      }
    }

    /*.ant-table-row:last-child .ant-table-cell {
      border-bottom-color: transparent;
    }*/

    .ant-table-row.ant-table-row-selected > .ant-table-cell {
      background: #ffffff !important;
      &.ant-table-cell-row-hover {
        background: var(--bg-color-grey-1) !important;
      }
    }
    .ant-table-cell.ant-table-cell-row-hover,
    th.ant-table-cell {
      background: var(--bg-color-grey-1) !important;
    }

    .ant-pagination {
      color: var(--font-color);
      font-size: var(--font-size-small);

      a {
        color: var(--font-color);
      }

      .ant-pagination-total-text {
        height: 24px;
        margin-right: 16px;
        line-height: var(--line-height-middle);
        font-size: var(--font-size-small);
        color: #222222;

        .total_text {
          color: var(--primary-color);
          font-weight: 500;
          padding: 0 2px;
        }
      }

      .ant-pagination-options {
        font-size: var(--font-size-small);

        .ant-select-single {
          width: fit-content;

          &:not(:global(.ant-select-customize-input)) {
            .ant-select-selector {
              height: 24px;
              font-size: var(--font-size-small);
              padding: 0 10px;
            }
          }

          .ant-select-selector {
            border-radius: 2px;
            border: 1px solid var(--font-color-grey-3);
            color: var(--font-color);

            .ant-select-selection-item,
            .ant-select-selection-placeholder {
              line-height: var(--line-height-default) !important;
            }
          }
        }

        .ant-pagination-options-quick-jumper {
          height: 24px;
          line-height: var(--line-height-middle);
          margin-left: 16px;
          display: inline-flex;

          input {
            height: 24px;
            margin: 0 4px;
            line-height: var(--line-height-default);
            border-radius: 2px;
            border: 1px solid var(--font-color-grey-3);
          }
        }
      }

      .ant-pagination-item {
        border: 1px solid var(--font-color-grey-3);
      }

      :global(.ant-pagination-item-active) {
        border: 1px solid var(--primary-color);
      }

      .ant-pagination-item,
      .ant-pagination-prev,
      .ant-pagination-next,
      .ant-pagination-item-link,
      .ant-pagination-jump-prev,
      .ant-pagination-jump-next {
        min-width: 24px;
        height: 24px;
        line-height: var(--line-height-default);
        border-radius: 2px;

        button {
          border: 1px solid var(--font-color-grey-3);
        }
      }

      .ant-pagination-item-active {
        background: var(--primary-color);

        a {
          color: var(--bg-color-white);
          font-weight: 400;
        }
      }
    }

    :global(.ant-table-summary) {
      table {
        margin-bottom: calc(0px + var(--scroller-bar-height));
      }

      :global(.ant-table-cell) {
        word-break: break-all;
        height: var(--cell-height);
        background: var(--bg-color-grey-3) !important;
        color: var(--font-color);
        padding: 13px 16px;
        font-weight: 600;

        &:first-child {
          //border-left: 1px solid var(--bg-color-grey-2);
        }

        &:last-child {
          //border-right: 1px solid var(--bg-color-grey-2);
        }
      }
    }
  }
}

.options-column {
  width: 100% !important;
}

.options-btn:global(.ant-btn) {
  :global(.ant-btn-loading-icon) {
    display: none;
  }

  padding: 0 8px !important;

  &:hover:not(:disabled) {
    color: var(--primary-color);
    background: var(--primary-color-1) !important;
  }
}

.tooltip {
  max-width: none;

  :global {
    .ant-tooltip-inner {
      max-width: 600px;
      max-height: 400px;
      overflow-y: auto;
    }
  }
}

.cell-resize-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border-radius: 4px;
  width: 8px;
  font-size: 12px;
  background: var(--primary-color-1);
  color: var(--primary-color-2);

  :global(.iconfont) {
    display: block;
    transform: scale(0.8);
  }

  top: 50%;
  right: 2px;
  cursor: col-resize;
  transform: translateY(-50%);
}

.table-changer-setting {
  cursor: pointer;
}

.width-changer-sign {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 8px;
  cursor: url("cursor.png") 12 10, col-resize;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 3px;
    background: var(--font-color-grey-2);
  }
}

.columns-control {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

.columns-control-content {
  width: 300px;

  :global {
    .ant-collapse-content-box {
      padding: 0 !important;
    }

    .ant-list-item {
      border: none;
    }

    .ant-collapse-header {
      font-weight: bold;
      padding: 8px 16px !important;
    }
  }
}

.columns-control-content-title {
  font-weight: bold;
  padding: 8px 16px;
  border-bottom: solid 1px var(--font-color-grey-4);
}

.columns-control-content-scroller {
  max-height: 300px;
  overflow-y: auto;
}

.columns-control-content-footer {
  border-top: solid 1px var(--font-color-grey-4);
  padding: 12px 16px;
}

.columns-control-content-input {
  width: 142px;
}

.columns-control-content-list {
  padding: 0;
}

.columns-control-content-item {
  padding: 8px 14px !important;
  background: #ffffff;
  transition: box-shadow 500ms;

  :global {
    .ant-checkbox-wrapper {
      flex: 1;
    }
  }

  &.is-drag {
    cursor: move !important;

    :global {
      .ant-checkbox-wrapper {
        margin-left: 2px;
      }
    }
  }

  &:not(.is-drag) {
    :global {
      .ant-checkbox-wrapper {
        margin-left: 16px;
      }
    }
  }
}

.columns-control-content-item-icon {
  color: var(--font-color-grey-1);
}

.sortable-drag {
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.sortable-ghost {
  background: var(--primary-color-1);
  border: 1px dashed var(--primary-color) !important;
}

.columns-control-overlay {
  padding: 0;

  :global(.ant-popover-arrow) {
    display: none;
  }

  :global(.ant-popover-inner-content),
  :global(.ant-popover-inner) {
    padding: 0;
  }
}

.sort-btn {
  position: absolute;
  top: 0;
  right: 12px;
  cursor: pointer;
  color: var(--font-color-grey-2);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @at-root {
    :global(.has-config-btn) .sort-btn {
      right: 4px;
    }
  }

  &.sort-active-desc {
    .sort-icon:last-child {
      color: var(--primary-color);
    }
  }

  &.sort-active-asc {
    .sort-icon:first-child {
      color: var(--primary-color);
    }
  }

  &:hover {
    color: var(--font-color-grey-1);
  }
}

.sort-icon {
  display: block;
  font-size: 12px;
  transition: color 300ms;

  &:first-child {
    transform: translateY(8px) scale(0.5);
  }

  &:last-child {
    transform: translateY(-4px) scale(0.5);
  }
}
