.rich-editor {
  :global {
    a {
      color: var(--primary-color) !important;
    }

    .ql-container {
      padding: 12px 0;
      .ql-editor {
        padding: 0 15px;
        min-height: 300px;
        max-height: var(--max-height, initial);
        overflow-y: auto;
        cursor: default;
      }
    }

    .ql-header {
      .ql-picker-label[data-value="1"]::before,
      .ql-picker-item[data-value="1"]::before {
        content: "标题 1" !important;
      }

      .ql-picker-label[data-value="2"]::before,
      .ql-picker-item[data-value="2"]::before {
        content: "标题 2" !important;
      }

      .ql-picker-label[data-value="3"]::before,
      .ql-picker-item[data-value="3"]::before {
        content: "标题 3" !important;
      }

      .ql-picker-label[data-value="4"]::before,
      .ql-picker-item[data-value="4"]::before {
        content: "标题 4" !important;
      }

      .ql-picker-label[data-value="5"]::before,
      .ql-picker-item[data-value="5"]::before {
        content: "标题 5" !important;
      }

      .ql-picker-label[data-value="6"]::before,
      .ql-picker-item[data-value="6"]::before {
        content: "标题 6" !important;
      }
    }

    .ql-size {
      .ql-picker-label::before,
      .ql-picker-item::before {
        content: "14px" !important;
        font-size: var(--font-size-default) !important;
      }

      .ql-picker-label[data-value="small"]::before,
      .ql-picker-item[data-value="small"]::before {
        content: "12px" !important;
        font-size: var(--font-size-small) !important;
      }

      .ql-picker-label[data-value="large"]::before,
      .ql-picker-item[data-value="large"]::before {
        content: "16px" !important;
        font-size: var(--font-size-large) !important;
      }

      .ql-picker-label[data-value="huge"]::before,
      .ql-picker-item[data-value="huge"]::before {
        content: "18px" !important;
        font-size: var(--font-size-18) !important;
      }
    }

    .ql-size-small {
      font-size: var(--font-size-small) !important;
    }

    .ql-size-large {
      font-size: var(--font-size-large) !important;
    }

    .ql-size-huge {
      font-size: var(--font-size-18) !important;
    }

    .ql-tooltip {
      left: 50% !important;
      transform: translateX(-50%) !important;
      padding: 12px !important;
    }

    .ql-tooltip.ql-editing a.ql-action::after {
      content: "保存" !important;
    }

    .ql-tooltip::before {
      content: "查看链接" !important;
    }

    .ql-tooltip a.ql-action::after {
      content: "编辑" !important;
    }

    .ql-tooltip a.ql-remove::before {
      content: "移除" !important;
    }

    .ql-tooltip[data-mode="link"]::before {
      content: "输入链接" !important;
    }

    .ql-tooltip input[type="text"],
    .ql-tooltip input[type="text"]:focus {
      border: 1px solid var(--font-color-grey-3) !important;
      outline: 0 !important;
    }

    @for $i from 1 through 100 {
      .ql-indent-#{$i} {
        padding-left: #{$i * 8%} !important;
      }
    }
  }

  &.read-only,
  &.hidden {
    :global {
      .ql-container {
        min-height: 150px;
      }

      .ql-toolbar {
        display: none !important;
      }

      .ql-container {
        border: 1px solid var(--font-color-grey-3);
      }
    }
  }
  &.no-border {
    :global {
      .ql-container,
      .ql-toolbar {
        border: none !important;
      }
    }
  }
}
