@import "../../common/warning-color";

.overlay {
  :global {
    .ant-popconfirm-message-icon {
      display: none;
    }

    .title-icon.iconfont {
      color: $info-color;
      margin: 8px 8px 0 0;
    }
  }

  &.is-danger {
    --color-warning: #d14343;
    :global {
      .ant-popover-buttons .ant-btn-primary,
      .ant-modal-confirm-btns .ant-btn-primary {
        background: var(--color-warning);
        border-color: var(--color-warning);
      }

      .title-icon.iconfont {
        color: var(--color-warning);
      }
    }
  }
}

.title {
  color: #222222;
  font-weight: bold;
  font-size: 14px;
}

.content {
  &.has-title {
    color: var(--font-color-grey-1);
  }
}
