@import "../../common/warning-color";

.overlay {
  :global {
    .ant-popover-inner {
      border-radius: var(--radius-large, 8px);
      padding: 18px 24px;
      box-sizing: border-box;
      max-width: 400px;
      .ant-popconfirm-inner-content {
        min-height: 60px;
        display: flex;
        flex-direction: column;
      }

      .ant-popconfirm-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1;
      }
    }
    .ant-popconfirm-message-icon {
      display: none;
    }

    .title-icon.iconfont {
      color: $info-color;
      margin: 8px 8px 0 0;
    }
  }

  &.is-danger {
    --color-warning: #d14343;
    :global {
      .ant-popover-buttons .ant-btn-primary,
      .ant-modal-confirm-btns .ant-btn-primary {
        background: var(--color-warning);
        border-color: var(--color-warning);
      }

      .title-icon.iconfont {
        color: var(--color-warning);
      }
    }
  }
}

.title {
  color: #222222;
  font-weight: bold;
  font-size: 14px;
}

.content {
  &.has-title {
    color: var(--font-color-grey-1);
  }
}
