.state-tag {
  width: fit-content;
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  border-radius: 12px;
  font-size: var(--font-size-small);
  //cursor: pointer;
  display: inline-block;
  box-sizing: border-box;

  &.state-result-tag {
    border-radius: var(--radius-default, 2px);
    height: 28px;
    line-height: var(--line-height-large);
  }

  &.state-skill-tag {
    line-height: 22px;
  }

  :global {
    a,
    a:hover,
    .anticon-close,
    .anticon-close:hover {
      color: inherit;
    }
  }

  &.event-tag {
    cursor: pointer;
  }
}

.state-tag-filter-result-wrapper {
  width: fit-content;
  max-width: 100%;
  background: var(--primary-color-1);
  //height: 20px;
  min-height: 20px;
  //display: inline-block;
  font-size: 12px;
  padding-right: 8px;
  padding-left: 4px;
  line-height: 20px !important;
  //height: auto;
  display: flex;
  border-radius: var(--radius-default, 2px);
  .state-tag-filter-name {
    color: var(--font-color-grey);
    padding-right: 4px;
    display: inline-block;
    width: max-content;
  }

  .state-tag {
    min-height: 20px;
    padding: 0;
    background: none !important;
    font-size: var(--font-size-small);
    line-height: 20px;
    overflow: hidden;
    max-width: 100%;
    white-space: pre-wrap;
    height: auto;
    display: inline-flex;

    &.state-tag-filterResult {
      color: var(--primary-color) !important;

      &.show-bg {
        background: var(--primary-color-1);
      }
    }

    svg {
      color: var(--primary-color);
    }
  }
}

.tag-text {
  display: block;
  max-width: 360px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.state-tag-wrapper {
  :global {
    .ant-space-item {
      display: flex;
    }
  }
}
