@import "@common/warning-color.scss";

.container {
  &.is-not-init {
    pointer-events: none;
    opacity: 0.7;
  }

  --font-size-default: 14px;
  --font-size-small: 12px;
  --font-size-large: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;

  /*@media only screen and (max-width: 1300px) {
    --font-size-default: 13px;
    --font-size-small: 12px;
    --font-size-large: 14px;
  }*/

  font-size: var(--font-size-default);
  font-family: -apple-system, 'PingFang SC', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --line-height-default: 1.8;
  --line-height-middle: 2;
  --line-height-small: 1.5;
  --line-height-large: 2.2;

  line-height: var(--line-height-default);

  --font-color: #222222;
  --font-color-disabled: rgba(0, 0, 0, 0.25);
  --font-color-grey: #666666;
  --font-color-grey-1: #999999;
  --font-color-grey-2: #cccccc;
  --font-color-grey-3: #dddddd;
  --font-color-grey-4: #eeeeee; // 标题栏下边缘分割线

  color: var(--font-color);

  --bg-color-white: #ffffff;
  --bg-color-grey: #fafafa;
  --bg-color-grey-1: #f8f8f8; // table 行 hover 时背景色，网页整体背景色
  --bg-color-grey-2: #f3f3f3; // 小程序端首页职位列表分割线
  --bg-color-grey-3: #f1f1f1; // 弹窗头部和底部分割线，按钮背景
  --bg-color-grey-4: #fafcff;

  --color-warning: #d14343; // 警告色
  --color-success: #00b42a; //成功色

  --state-success-color: var($success-color);
  --state-info-color: var($info-color);
  --state-error-color: var($error-color);
  --state-warning-color: var($warning-color);

  //--primary-color: #5cb8b2;

  --tag-default: "#666666";
  --tag-success: "#027A48";
  --tag-progress: "#F09700";
  --tag-danger: "#D14343";
  --tag-info: "#155ACF";
  --tag-other: "#6740C3";

  // @for $i from 1 through 10 {
  //  --primary-color-#{$i}: #{rgba(#5cb8b2, $i / 10)};
  // }

  /*--primary-color-red: 92;
  --primary-color-green: 184;
  --primary-color-blue: 178;*/

  :global {
    .ant-input[disabled],
    .ant-input-number-disabled .ant-input-number-input {
      color: var(--font-color-disabled) !important;
    }
  }

  :global(.iconfont) {
    font-size: 1em;
  }

  :global(.iconfont--color) {
    width: 1em;
    height: 1em;
  }

  :global(.react-filter-selected) {
    width: 100%;
  }

  :global(.ant-space-vertical),
  :global(.full-space),
  :global(.is-block.ant-space) {
    width: 100%;
    display: flex;
  }

  :global(.container) {
    background: #fff;
  }

  :global(.ant-btn-primary) {
    box-shadow: none;
  }

  :global(.btn-text-link) {
    padding: 0;
    border: none;
    background: transparent;
    color: var(--primary-color);
    box-shadow: none !important;
    transition: none !important;
    touch-action: none !important;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within {
      background: transparent;
      color: var(--primary-color);
      border-color: transparent;
      outline: none !important;
      box-shadow: none;
      transition: none !important;
      touch-action: none !important;
    }
  }

  :global(.ant-btn-link.btn-no-padding),
  :global(.ant-btn-text.btn-no-padding) {
    padding: 0;
    height: auto;
    border: none;
    min-width: unset;

    &:hover {
      background-color: unset;
    }
  }

  :global(.ant-list-bordered) {
    border-color: var(--bg-color-grey-2);
  }

  :global(.ant-list-split .ant-list-item) {
    border-bottom-color: var(--bg-color-grey-2);
  }

  :global(
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
    ) {
    color: var(--primary-color);
    font-weight: normal;
  }

  :global(.ant-segmented) {
    background-color: var(--bg-color-grey-2);
  }

  :global(.ant-segmented-item) {
    color: var(--font-color-grey);

    &:global(.ant-segmented-item-selected) {
      color: var(--font-color);
    }
  }

  :global(.loading-container.is-loading) {
    opacity: 0.5;
    pointer-events: none;
    position: relative;
    transition: opacity 300ms;
    @keyframes loading-rotate {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "\e688";
      font-family: "iconfont";
      transform: translate(-50%, -50%);
      animation: loading-rotate 2s infinite;
      font-size: 20px;
      color: var(--font-color-grey-2);
    }
  }

  :global(.ant-modal.ant-zoom-leave) {
    :global(.ant-modal-body),
    :global(.ant-modal-footer) {
      pointer-events: none;
    }
  }

  :global(.ant-tooltip) {
    :global(.ant-tooltip-arrow:before) {
      background-color: #ffffff;
    }
  }

  :global(.ant-alert) {
    border: none;
    align-items: baseline;

    &:global(.ant-alert-with-description .ant-alert-message) {
      font-weight: bold;
    }

    :global(.ant-alert-description) {
      color: var(--font-color-grey);
    }

    :global(.ant-alert-icon) {
      font-family: iconfont !important;
      margin-right: 8px !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
      width: 1em;
      height: 1em;

      svg {
        display: none;
      }
    }

    &:global(.ant-alert-success) {
      background-color: #{rgba($success-color, 1/16)};

      :global(.ant-alert-icon) {
        color: $success-color;

        &:after {
          content: "\e67d";
        }
      }
    }

    &:global(.ant-alert-info) {
      background-color: #{rgba($info-color, 1/16)};

      :global(.ant-alert-icon) {
        color: $info-color;

        &:after {
          content: "\e6ae";
        }
      }
    }

    &:global(.ant-alert-warning) {
      background-color: #{rgba($warning-color, 1/16)};

      :global(.ant-alert-icon) {
        color: $warning-color;

        &:after {
          content: "\e6ab";
        }
      }
    }

    &:global(.ant-alert-error) {
      background-color: #{rgba($error-color, 1/16)};

      :global(.ant-alert-icon) {
        color: $error-color;

        &:after {
          content: "\e67c";
        }
      }
    }
  }

  :global(.ant-tooltip) {
    :global(.ant-tooltip-inner) {
      background-color: #fff;
      color: var(--font-color);
    }
  }

  :global(.ant-menu-submenu-popup) {
    :global(.ant-menu-sub) {
      margin: 0;
    }
  }

  :global {
    .ant-checkbox-group {
      flex-wrap: wrap;
    }
  }

  :global(.ant-checkbox-wrapper) {
    margin-inline-end: 8px;
    margin-inline-start: 0px;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar:hover {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    min-height: 5px;
    min-width: 5px;
    border-radius: 16px;
    background-color: rgba(102, 102, 102, 0.45);
  }

  :global(.table-page) {
    --cell-height: 48px;
    --cell-padding: 8px 8px;

    :global(.ant-table-small) {
      --cell-height: 38px;
      --cell-padding: 6px 8px;
    }

    &:global(.ant-table-wrapper) {
      :global(.ant-table) {
        :global(.ant-table-tbody > tr > td),
        :global(.ant-table-thead > tr > th),
        :global(tfoot > tr > td) {
          padding: var(--cell-padding);
        }
      }
    }

    :global(.ant-table-container) {
      //border-left: 1px solid var(--bg-color-grey-2) !important;
      //border-right: 1px solid var(--bg-color-grey-2) !important;
    }

    :global(.ant-table-header),
    :global(.ant-table-thead) {
      &:global(.ant-table-sticky-holder) {
        top: var(--sticky-offset) !important;
        transform: translateY(-1px);
      }

      :global(.ant-table-cell) {
        height: var(--cell-height);
        background: var(--bg-color-grey-3);
        border-bottom: none;
        font-size: var(--font-size-default);
        font-weight: 500;
        color: var(--font-color);
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    :global(.ant-table-tbody) {
      :global(.ant-table-row:first-child) :global(.ant-table-cell) {
        border-top: none !important;
      }

      :global(.ant-table-cell) {
        word-break: break-all;
        height: var(--cell-height);
        background: var(--bg-color-white) !important;
        //border-top: 1px solid var(--bg-color-grey-2) !important;
        color: var(--font-color);
        padding-left: 24px;
        padding-right: 24px;

        &:first-child {
          border-left: 1px solid var(--bg-color-grey-2);
        }

        &:last-child {
          border-right: 1px solid var(--bg-color-grey-2);
        }
      }

      :global(.ant-table-cell-row-hover) {
        background: var(--bg-color-grey-1) !important;
      }
    }

    :global(.ant-pagination) {
      color: var(--font-color);
      font-size: var(--font-size-small);

      a {
        color: var(--font-color);
      }

      :global(.ant-pagination-total-text) {
        height: 24px;
        margin-right: 16px;
        line-height: var(--line-height-middle);
        font-size: var(--font-size-small);
        color: #222222;

        .total_text {
          color: var(--primary-color);
          font-weight: 500;
          padding: 0 2px;
        }
      }

      :global(.ant-pagination-options) {
        font-size: var(--font-size-small);

        :global(.ant-select-single) {
          width: fit-content;
        }

        :global(.ant-select-single):not(:global(.ant-select-customize-input)) {
          :global(.ant-select-selector) {
            height: 24px;
            font-size: var(--font-size-small);
            padding: 0 10px;
          }
        }

        :global(.ant-select-single) {
          :global(.ant-select-selector) {
            border-radius: 2px;
            border: 1px solid var(--font-color-grey-3);
            color: var(--font-color);

            :global(.ant-select-selection-item),
            :global(.ant-select-selection-placeholder) {
              line-height: var(--line-height-default) !important;
            }
          }
        }

        :global(.ant-pagination-options-quick-jumper) {
          height: 24px;
          line-height: var(--line-height-middle);
          margin-left: 16px;
          display: inline-flex;

          input {
            height: 24px;
            margin: 0 4px;
            line-height: var(--line-height-default);
            border-radius: 2px;
            border: 1px solid var(--font-color-grey-3);
          }
        }
      }

      :global(.ant-pagination-item) {
        border: 1px solid var(--font-color-grey-3);
      }

      :global(.ant-pagination-item-active) {
        border: 1px solid var(--primary-color);
      }

      :global(.ant-pagination-item),
      :global(.ant-pagination-prev),
      :global(.ant-pagination-next),
      :global(.ant-pagination-item-link),
      :global(.ant-pagination-jump-prev),
      :global(.ant-pagination-jump-next) {
        min-width: 24px;
        height: 24px;
        line-height: var(--line-height-default);
        border-radius: 2px;

        button {
          border: 1px solid var(--font-color-grey-3);
        }
      }

      :global(.ant-pagination-item-active) {
        background: var(--primary-color);

        a {
          color: var(--bg-color-white);
          font-weight: 400;
        }
      }
    }

    :global(.ant-table-row):not(:global(.ant-table-row-selected)) {
      &:nth-of-type(odd) {
        background: var(--bg-color-grey-1);

        :global(.ant-table-cell-fix-left),
        :global(.ant-table-cell-fix-right) {
          background: var(--bg-color-grey-1);

          &:hover {
            background: var(--bg-color-grey);
          }
        }
      }

      &:nth-of-type(even) {
        background: var(--bg-color-white);

        :global(.ant-table-cell-fix-left),
        :global(.ant-table-cell-fix-right) {
          background: var(--bg-color-white);

          &:hover {
            background: var(--bg-color-grey);
          }
        }
      }

      &:hover {
        :global(.ant-table-cell-fix-left),
        :global(.ant-table-cell-fix-right) {
          background: var(--bg-color-grey);
        }
      }
    }

    :global(.ant-table-thead) {
      white-space: nowrap;
      background: var(--bg-color-grey-3);

      :global(.ant-table-cell):before {
        content: normal !important;
      }
    }

    :global(.ant-table) {
      border-radius: 4px;

      :global(.ant-table-container) {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        :global(.ant-table-cell) {
          padding-left: 16px;
        }
      }
    }

    :global(.ant-table-container) table > thead > tr:first-child th:last-child {
      border-radius: 0 4px 0 0;
    }

    :global(.ant-table) table {
      border-radius: 4px 4px 0 0;
    }

    :global(.ant-table-thead) > tr > th {
      background-color: var(--bg-color-grey-4);
    }

    :global(.ant-table-container),
    :global(.ant-table-container)
    table
    > thead
    > tr:first-child
    th:first-child {
      border-top-left-radius: 4px;
    }

    :global(.ant-table-row-expand-icon) {
      border-color: transparent;
    }
  }

  :global(
      .ant-notification
        .ant-notification-notice-wrapper
        .ant-notification-notice
    ) {
    padding: 0;
  }

  :global(.ant-tag.no-border) {
    background: #f3f3f3;
    border-radius: 2px;
    border: none;
    padding: 4px 12px;
  }

  .ant-pagination {
    color: var(--font-color);
    font-size: var(--font-size-small);

    a {
      color: var(--font-color);
    }

    .ant-pagination-total-text {
      height: 24px;
      margin-right: 16px;
      line-height: var(--line-height-middle);
      font-size: var(--font-size-small);
      color: #222222;

      .total_text {
        color: var(--primary-color);
        font-weight: 500;
        padding: 0 2px;
      }
    }

    .ant-pagination-options {
      font-size: var(--font-size-small);

      .ant-select-single {
        width: fit-content;

        &:not(:global(.ant-select-customize-input)) {
          .ant-select-selector {
            height: 24px;
            font-size: var(--font-size-small);
            padding: 0 10px;
          }
        }

        .ant-select-selector {
          border-radius: 2px;
          border: 1px solid var(--font-color-grey-3);
          color: var(--font-color);

          .ant-select-selection-item,
          .ant-select-selection-placeholder {
            line-height: var(--line-height-default) !important;
          }
        }
      }

      .ant-pagination-options-quick-jumper {
        height: 24px;
        line-height: var(--line-height-middle);
        margin-left: 16px;
        display: inline-flex;

        input {
          height: 24px;
          margin: 0 4px;
          line-height: var(--line-height-default);
          border-radius: 2px;
          border: 1px solid var(--font-color-grey-3);
        }
      }
    }

    .ant-pagination-item {
      border: 1px solid var(--font-color-grey-3);
    }

    :global(.ant-pagination-item-active) {
      border: 1px solid var(--primary-color);
    }

    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-item-link,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      min-width: 24px;
      height: 24px;
      line-height: var(--line-height-default);
      border-radius: 2px;

      button {
        border: 1px solid var(--font-color-grey-3);
      }
    }

    .ant-pagination-item-active {
      background: var(--primary-color);

      a {
        color: var(--bg-color-white);
        font-weight: 400;
      }
    }
  }

  :global {
    .ant-pagination {
      color: var(--font-color);
      font-size: var(--font-size-small);

      a {
        color: var(--font-color);
      }

      .ant-pagination-total-text {
        height: 24px;
        margin-right: 16px;
        line-height: var(--line-height-middle);
        font-size: var(--font-size-small);
        color: #222222;

        .total_text {
          color: var(--primary-color);
          font-weight: 500;
          padding: 0 2px;
        }
      }

      .ant-pagination-options {
        font-size: var(--font-size-small);

        .ant-select-single {
          width: fit-content;

          &:not(:global(.ant-select-customize-input)) {
            .ant-select-selector {
              height: 24px;
              font-size: var(--font-size-small);
              padding: 0 10px;
            }
          }

          .ant-select-selector {
            border-radius: 2px;
            border: 1px solid var(--font-color-grey-3);
            color: var(--font-color);

            .ant-select-selection-item,
            .ant-select-selection-placeholder {
              line-height: var(--line-height-default) !important;
            }
          }
        }

        .ant-pagination-options-quick-jumper {
          height: 24px;
          line-height: var(--line-height-middle);
          margin-left: 16px;
          display: inline-flex;

          input {
            height: 24px;
            margin: 0 4px;
            line-height: var(--line-height-default);
            border-radius: 2px;
            border: 1px solid var(--font-color-grey-3);
          }
        }
      }

      .ant-pagination-item {
        border: 1px solid var(--font-color-grey-3);
      }

      :global(.ant-pagination-item-active) {
        border: 1px solid var(--primary-color);
      }

      .ant-pagination-item,
      .ant-pagination-prev,
      .ant-pagination-next,
      .ant-pagination-item-link,
      .ant-pagination-jump-prev,
      .ant-pagination-jump-next {
        min-width: 24px;
        height: 24px;
        line-height: var(--line-height-default);
        border-radius: 6px;

        button {
          border: 1px solid var(--font-color-grey-3);
        }
      }

      .ant-pagination-item-active {
        background: var(--primary-color);

        a {
          color: var(--bg-color-white);
          font-weight: 400;
        }
      }
    }
  }
}
